<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th>GUN_Name</th>
      <th>GUN_Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% airguns.each do |airgun| %>
      <tr>
        <td><%= link_to(airgun.user) do %>
          <%= image_tag airgun.user.get_profile_image(100,100), size:'100x100' %>
          <% end %>
        </td>
        <td>
          <% if airgun.image.attached? && airgun.image.variable? %>
            <%= image_tag airgun.image.variant(resize: "100x100") %>
          <% else %>
            <%= image_tag 'no_image_square', size: "100x100" %>
          <% end %>
        </td>
        <!--if airgun.image.attached?の部分は、if airgun.image.attached? && airgun.image.variable?に変更することで、
        画像が存在してかつ有効な場合のみ、image_tagを使用するようにできます。-->
        <td><%= link_to airgun.gun_name,airgun_path(airgun), class: "airgun_#{airgun.id}" %></td>
        <td><%= airgun.gun_caption %></td>
        <td>コメント数: <%= airgun.comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>