<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @airgun.user %>
      <%= render 'airguns/form', airgun: @airgun_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>GUN detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@airgun.user) do %>
            <%= image_tag @airgun.user.get_profile_image, size:"100x100" %><br>
            <%= @airgun.user.name %>
            <% end %>
          </td>
          <td><%= link_to @airgun.title, @airgun %></td>
          <td><%= @airgun.body %></td>
          <td>コメント数: <%= @airgun.comments.count %></td>
          <!--if @airgun.user == current_userでは
もし、エアガンの投稿をしたユーザーと現在ログインしているユーザーが一致していたらという意味になります。
これにより他のユーザーは投稿したエアガンの編集、削除のリンクは見ることが出来なくなります。-->
          <% if @airgun.user == current_user %>
            <td><%= link_to 'Edit', edit_airgun_path(@airgun), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @airgun, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <%= render "comments/index", airgun: @airgun %>
      <%= render "comments/form", airgun: @airgun, comment: @comment %>
    </div>
  </div>
</div>