<table>
  <tbody>
      <% airgun.comments.each do |comment| %>
      <tr>

        <td>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image(50,50), size: "50x50" %><br>
            <%= comment.user.name %>
          <% end %>
        </td>
        <td><%= comment.comment_body %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "Destroy", airgun_comment_path(airgun, comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>