<div class="row">
    <div class="col-md-10 mt-5 mx-auto">
      <h2><%= @user.name %>さんの会員詳細</h2>
      <div class="row">
        <div class="col-3">
          <p>会員ID</p>
          <p>氏名</p>
          <p>メールアドレス</p>
          <p>会員ステータス</p>
        </div>
        <div class="col-7">
          <p><%= @user.id %></p>
          <p><%= @user.name %></p>
          <p><%= @user.email %></p>
          <p>
            <% if @user.is_deleted == false %>
              <b class="text-success">有効</b>
            <% else %>
              <b class="text-black-50">退会</b>
            <% end %>
          </p>
          <div class="d-flex">
            <div class="mr-5"><%= link_to "編集する", edit_admin_user_path(@user), class:'btn btn-success' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>